/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/coverage

/.next/
/out/

/build

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*

.vercel

*.tsbuildinfo
next-env.d.ts

android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
android-app/**/*.iml
android-app/captures/
android-app/.externalNativeBuild/
android-app/.cxx/
android-app/build.gradle.kts
android-app/app/build.gradle.kts
